{% extends "layout.html" %}
{% block container %}
{% import "_macros.html" as macros %}

<section class="bg-neutral-primary">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
        <div class="relative bg-neutral-primary-soft max-w-xs w-full p-6 border border-default rounded-base shadow-xs">
        <div class="text-center mb-8">
            <h2 class="text-2xl font-semibold text-heading">
                Editar Registro
            </h2>
        </div>

        <form action="{{ url_for('maestros.modificar') }}" method="POST" novalidate class="space-y-6">
            {{form.csrf_token}}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            
            <input type="hidden" name="matricula" value="{{ form.matricula.data }}">

            <div class="relative z-0 w-full group">
                {{ macros.campoNuevo(form.nombre, class="w-full mt-1 p-2 border border-default rounded-base bg-neutral-primary-medium focus:ring-2 focus:ring-brand outline-none") }}
            </div>

            <div class="relative z-0 w-full group">
                {{ macros.campoNuevo(form.apellidos, class="w-full mt-1 p-2 border border-default rounded-base bg-neutral-primary-medium focus:ring-2 focus:ring-brand outline-none") }}
            </div>

            <div class="relative z-0 w-full group">
                {{ macros.campoNuevo(form.especialidad,  class="w-full mt-1 p-2 border border-default rounded-base bg-neutral-primary-medium focus:ring-2 focus:ring-brand outline-none") }}
            </div>

            <div class="relative z-0 w-full group">
                {{ macros.campoNuevo(form.email,  class="w-full mt-1 p-2 border border-default rounded-base bg-neutral-primary-medium focus:ring-2 focus:ring-brand outline-none") }}
            </div>

            <div class="flex gap-4 pt-4">
                <button type="submit" class="flex-1 text-white bg-brand border border-transparent
                    hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium
                    shadow-xs font-medium rounded-base text-sm px-4 py-2.5
                    transition duration-200">
                    Enviar
                </button>

                <a href="/maestros"
                    class="flex-1 text-center text-white bg-default-medium border border-transparent
                    hover:bg-heading focus:ring-4 focus:ring-default-medium
                    shadow-xs font-medium rounded-base text-sm px-4 py-2.5
                    transition duration-200">
                    Cancelar
                </a>
            </div>
        </form>
        </div>
    </div>
</section>
{% endblock %}